
 .grid-container {
    display: grid;

    grid-template-areas:
     'menu header header header header header'
     'menu main  main main right right'
     'footer footer footer footer right right';
    grid-gap: 10px;
    background-color: orange;
    padding: 10px;
 }

 .grid-container > div {
   background-color: red;
   text-align: center;
   padding: 20px 0;
   font-size: 30px;
 }

 .item1 {
   grid-area: header;
 }

 .item2 {
   grid-area: menu;
 }

 .item3 {
   grid-area: main;
 }

 .item4 {
   grid-area: right;
 }

 .item5 {
   grid-area: footer;
 }

 .inline-grid-container {
   background-color: coral;
   display: inline-grid;
   grid-template-columns: auto auto auto;
   padding:  10px;
 }

 .grid-item {
   background-color: rgba(0,0,0,.5);
   padding: 30px;
   font-size: 30px;
   margin: 5px;
   border: 3px solid rgb(119, 121, 76);
   text-align: center;
   color: white;
 }

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid-item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
}
