:root {
  --screen-max: 1000px;
  --fontM: 'Montserrat', sans-serif;
  --fontO: 'OpenSans', sans-serif;
}

/* Font fontM Montserrat */
@font-face {font-family: 'Montserrat'; src: url(../fonts/Montserrat-Bold.ttf); font-weight: bolder;}
@font-face {font-family: 'Montserrat'; src: url(../fonts/Montserrat-Regular.ttf); font-weight: normal;}
@font-face {font-family: 'Montserrat'; src: url(../fonts/Montserrat-Medium.ttf); font-weight: Medium;}
@font-face {font-family: 'Montserrat'; src: url(../fonts/Montserrat-Light.ttf); font-weight: lighter;}

/* Font fontO OpenSans */
@font-face {font-family: 'OpenSans'; src: url(../fonts/OpenSans-Bold.ttf); font-weight: bolder;}
@font-face {font-family: 'OpenSans'; src: url(../fonts/OpenSans-Light.ttf); font-weight: lighter;}
@font-face {font-family: 'OpenSans'; src: url(../fonts/OpenSans-LightItalic.ttf); font-weight:lighter; font-style: italic;}
@font-face {font-family: 'OpenSans'; src: url(../fonts/OpenSans-Regular.ttf); font-weight: normal;}
@font-face {font-family: 'OpenSans'; src: url(../fonts/OpenSans-SemiBold.ttf); font-weight: bold;}
@font-face {font-family: 'OpenSans'; src: url(../fonts/OpenSans-SemiBoldItalic.ttf); font-weight: bold; font-style: italic;}

html, body {
  margin: 0;
}

body {
  font-family: var(--fontM);
  font-size: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

html * {
  box-sizing: border-box;
}

.main-navigation li {
  display: inline-block;
  color: white;
  padding: 15px;
  text-decoration: none;
}

.main-navigation a {
  color: black;
  font-family: var(--fontM);
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  background-color: white;
  text-align: left;
  padding: 0 0;
  font-size: 1em;
}

.grid-container-img1 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item-img1 img{
  position: relative;
  background: white;
  overflow: hidden;
  padding: 0px;
  width: 280px;
}

.grid-item-img1 img:hover {
   transform: rotate(-4deg);
   transition: 0.3s;
}

.grid-item-img1 li {
  color: black;
  font-family: var(--fontM);
  font-weight: bolder;
  font-style: normal;
  padding: 0px;
  }

.grid-item-img1 a {
    color: red;
    font-family: var(--fontM);
    font-weight: lighter;
    font-style: normal;
    font-size: 12px;
    text-decoration: underline;
  }


.gallery {
    display: flex;
    padding: 0;
}

.gallery img {
    margin-top: 0;
    vertical-align: middle;
	  width: 25%;
	  height: 25%;
}


.gallery img:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
    cursor: pointer;
}


header#main-header {
  position: relative;
  width: 100%;
  height: 45vw;
  background: white;
  overflow: hidden;
  padding: 0px;
}

header#main-header img {
  width: 100%;
  height: 95%;
  object-fit: cover;
  object-position: center;
  display: block;
}

header#main-header div {
  position: absolute;
  left: 30%;
  top: 40%;
  font-family: var(--fontM);
  font-weight: normal;
  font-size: 0.6em;
  line-height: 1em;
  text-transform: none;
  color: white;
}


header#main-header-center {
  /*padding: 20px; */
  font-family: var(--fontM);
  font-weight: bolder;
  font-size: 1.2em;
  /* line-height: 1.2em; */
  color: black;
}

header#main-header .inner-wrapper,
.content-element .inner-wrapper,
footer .inner-wrapper {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
}

main {
  flex: 1;
}

footer {
  margin-top: 2rem;
  background: rgb(66,66,66);
}

footer a {
  color: rgb(200,200,200);
  font-family: var(--fontO);
  text-decoration: underline;
  text-transform: none;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer-top {
  margin: 2rem auto 0;
}

footer .footer-bottom {
  color: rgb(180, 180, 180);
  background-color: rgb(32, 32, 32);
  /* opacity: .15;*/
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (min-width: 280px) {
  header#main-header h1 {
    font-size: 0.7rem;
    font-weight: bolder;
    font-family: var(--fontO);

  }

  header#main-header h2 {
    font-size: 0.2rem;
    font-weight: normal;

  }


@media screen and (min-width: 350px) {
  header#main-header h1 {
    font-size: 1rem;
    font-weight: bolder;
    font-family: var(--fontO);

  }

  header#main-header h2 {
    font-size: 0.3rem;
    font-weight: normal;

  }

}

@media screen and (min-width: 400px) {
  header#main-header h1 {
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: var(--fontO);
  }

  header#main-header h2 {
    font-size: 0.4rem;
    font-weight: normal;
  }
}


@media screen and (min-width: 480px) {
  header#main-header h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: var(--fontO);
  }

  header#main-header h2 {
    font-size: 0.6rem;
    font-weight: normal;
  }
}


@media screen and (min-width: 700px) {

  header#main-header h1 {
    font-size: 2.1rem;
    font-weight: bolder;
    font-family: var(--fontO);
  }

  header#main-header h2 {
    font-size: 0.9rem;
    font-weight: normal;

  }

  footer .footer-top {
    display: flex;
  }

  footer .footer-left,
  footer .footer-right {
    flex: 1;
  }

  footer .footer-right {
    text-align: right;
  }

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}


@media screen and (max-width: 1250px) {
  footer .footer-left {
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
  }

  footer .footer-right {
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
  }

  .footer-bottom {
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
  }
}


@media screen and (min-width: 1200px) {
  #logo {
      position: fixed;
      z-index: 100;
      top: 0;
      left: 5rem;
  }
  #logo-part-2 {
    width: 17rem;
    left: 12rem;
  }

}
