.slider-holder {
  width: 100%;
  height: 225px;
  overflow: hidden;
  margin: 0 auto;
}

.image-holder {
  width: 100%;
  height: 225px;
  clear: both;
  position: relative;
  transition: left 2s ease;
}

img.slider-image {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}

#img1:target ~ .image-holder {
  left: 0;
}

#img2:target ~ .image-holder {
  left: -225px;
}

#img3:target ~ .image-holder {
  left: calc(-225px * 2);
}

.button-holder {
  position: relative;
  top: -30px;
}

.slider-change {
  display: inline-block;
  padding: 5px;
  background-color: white;
  color: silver;


}
