:root {
  --screen-max: 1000px;
  --fontM: 'Montserrat', sans-serif;
  --fontO: 'OpenSans', sans-serif;
}

/* Font fontM Montserrat */
@font-face {font-family: 'Montserrat'; src: url(../fonts/Montserrat-Bold.ttf); font-weight: bolder;}
@font-face {font-family: 'Montserrat'; src: url(../fonts/Montserrat-Regular.ttf); font-weight: normal;}
@font-face {font-family: 'Montserrat'; src: url(../fonts/Montserrat-Medium.ttf); font-weight: Medium;}
@font-face {font-family: 'Montserrat'; src: url(../fonts/Montserrat-Light.ttf); font-weight: lighter;}

html, body {
  margin: 0;

}

body {
  font-family: var(--fontO);
  font-size: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: white;
}

main {
  background-color: white;
}


html * {
  box-sizing: border-box;
}

#top {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.main-navigation li {
  display: inline-block;
  color: black;
  padding: 0px;
  text-decoration: none;
  margin-left: 20px;
  font-size: 15px;
}

.main-navigation a {
  color: black;
  font-family: var(--fontM);
  font-weight: lighter;
  font-style: normal;
  text-decoration: none;
  font-size: 15px;
}

.logo img {
  width: 70%;
}

.logo {
  /*height:70px;*/
  position: absolute;
  background-color: white;
  font-size: 1.5em;
  font-family: var(--fontM);
  font-weight: bolder;
  padding: 10px;
  vertical-align: middle;
}


.logo div {
  display: inline-block;
}


.logo a {
  color: rgb(120, 125, 129);
  text-decoration: none;
  display: inline-block;
}


.titel h1 {
  font-family: var(--fontM);
  font-size: 2.4em;
  text-align: center;
  font-weight: lighter;
  color: rgb(120, 125, 129);
  padding: 20px;
}

.titel h3 {
  font-family: var(--fontM);
  font-size: 1.2em;
  text-align: center;
  font-weight: lighter;
  color: rgb(120, 125, 129);
  padding: 20px;
}




header#main-header {
  position: relative;
  width: 100%;
  /*height: 45vw;*/
  background: rgb(191, 209, 205);
  overflow: hidden;
  padding: 0px;
}

header#main-header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
}

.button {
  display: inline-block;
  padding: 1em 2em;
  background: white;
  color: #ac7957;
  text-decoration: none;
  border-color: #ac7957;
  border-width: 1px;
  border-style: solid;

}

header#main-header div {
  position: absolute;
  left: 30%;
  top: 40%;
  font-family: var(--fontM);
  font-weight: normal;
  font-size: 0.6em;
  line-height: 1em;
  text-transform: none;
  color: white;
}

header#main-header-center {
  /*padding: 20px; */
  font-family: var(--fontM);
  font-weight: bolder;
  font-size: 1.2em;
  /* line-height: 1.2em; */
  color: black;
}

header#main-header .inner-wrapper,
.content-element .inner-wrapper,
footer .inner-wrapper,
main .inner-wrapper
 {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
}


footer {
  margin-top: 2rem;
  background: rgb(187, 147, 106);
  height:40px;
  font-size: 1em;
  color: white;
  font-family: var(--fontM);
  font-weight: normal;
  padding: 10px;
  text-align: right;
}

footer a {
  color: rgb(200,200,200);
  font-family: var(--fontO);
  text-decoration: underline;
  text-transform: none;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer-top {
  margin: 2rem auto 0;
}

footer .footer-bottom {
  color: rgb(180, 180, 180);
  background-color: rgb(32, 32, 32);
  /* opacity: .15;*/
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (min-width: 280px) {
  }

@media screen and (min-width: 350px) {
}

@media screen and (min-width: 400px) {


  .teil1 {
      float:left;
      width: 30%;
  }

  .teil2 {
      float: right;
      width: 68%;
  }


}


@media screen and (max-width: 480px) {

  .logo {
    font-size: 1em;
    padding: 10px;
  }
}


@media screen and (min-width: 700px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}


@media screen and (max-width: 1250px) {

}


@media screen and (min-width: 1200px) {

}
